<head>
	<meta charset="utf-8">

	<title>{{ site.title }}</title>
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/public/images/msr-student-template-favicon.png">

	<link rel="stylesheet" href="{{ site.baseurl }}/public/stylesheets/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/stylesheets/default.css">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
